body,
h1 {
    color: white;
    background-color: darkslateblue;
    text-align: center;
    }

nav ul li {
    color:darkgray;
    list-style-type:none;
    float: right;
}

button {
    width: 100px;
    padding: 5px;
}

.lead {
    color: white;
    background-color: darkslateblue;
    text-align: center;
}

.container {
    color: white;
    background-color: darkslateblue;
    text-align: center;
}

.display-4 {
    color: white;
    background-color: darkslateblue;
    text-align: center;
}

.jumbotron {
    background-color: darkslateblue;

}

.jumbotron-fluid {
    background-color: darkslateblue;
}

.d-block {
  
}

.w-100 {
   
}

section {
}